.stock {
    &__container {
        width: 1000px;
        height: 200px;
        background: grey;
        margin-bottom: 20px;
        display: flex
    }

    &__img {
        width: 100px;
        height: 100px;
    }
}